<mat-toolbar>
  Angular Aplication
</mat-toolbar>

<form [formGroup]="profileForm" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="field-width">
            <input formControlName="firstName" matInput placeholder="First name">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="field-width">
            <input formControlName="lastName" matInput placeholder="Last name">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="field-width">
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="field-width">
            <input matInput numric formControlName="phone" placeholder="Number">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="saveForm()" mat-raised-button color="primary">Save</button>
    </mat-card-actions>
  </mat-card>
</form>